<div>
  <a href="" (click)="oculta($event)">{{ textoOculta }}</a>
</div>
<div *ngIf="visible">
  <p>
    Analisis estadisticos de pesos, incidencias, etc
  </p>
  <div>
    <label>Fecha inicial</label>
    <input #fechad="ngModel" [(ngModel)]="fechade" type="date" required/>
    <div *ngIf="fechad.invalid && fechad.touched" class="card warning">
      <div class="section">
        <p>Fecha inicial necesaria</p>
      </div>
    </div>        
  </div>
  <div>
    <label>Fecha final</label>
    <input #fechah="ngModel" [(ngModel)]="fechaha" type="date" required/> 
    <div *ngIf="fechah.invalid && fechah.touched" class="card warning">
      <div class="section">
        <p>Fecha final necesaria</p>
      </div>
    </div>          
  </div>
  <div>
    <label>Datos de tipo </label>
    <select name="tipo" [(ngModel)]="tipo">
      <option value="Pesos totales">Pesos totales</option>
      <option value="Pesos por playa">Pesos por playa</option>    
      <option value="Estadísticas totales">Estadísticas totales</option>       
      <option value="Estadísticas por playa">Estadísticas por playa</option>     
    </select>
  </div>
  <div>
    <label>Municipio</label>
    <select [(ngModel)]="municipio">
      <option value="Benidorm">Benidorm</option>
      <option value="Finestrat">Finestrat</option>    
    </select>
  </div> 
  <div>
    <label>Playa</label>
    <select [(ngModel)]="lugar">
      <option value="Levante y Calas">Levante y Calas</option>
      <option value="Poniente y Mal Pas">Poniente y Mal Pas</option>
      <option value="Finestrat">Finestrat</option>     
    </select>
  </div>
  <br>
  <button [disabled]="!fechad.valid || !fechah.valid" type="button" (click)="abreAnalisis(tipo, fechade, fechaha, municipio, lugar)">MUESTRA DATOS</button> 
</div>
<br>
<router-outlet></router-outlet>