<div class="form-group col-md-3">
  <label for="fecha">Selecciona fecha</label>
  <input id="fecha" [(ngModel)]="fecha" type="date" (change)="actualizaLista()" class="form-control">
</div>
<div class="row">
  <div class="col-md-8">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Operario</th>
            <th scope="col">Anterior</th>
            <th scope="col">Editar</th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of operarios; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.nombre }}</td>
            <td>
              <div *ngIf="elUltimo(item._id)" class="alert alert-warning" role="alert">
                <div>Fecha: {{ asUltimo?.lastFecha | date: 'dd/MM/yyyy' }}</div>                
                <div *ngIf="asUltimo?.lastTrabajado > 0">Dia trabajado: {{ asUltimo?.lastTrabajado }}</div>
                <div *ngIf="asUltimo?.lastDescanso > 0">Dia descanso: {{ asUltimo?.lastDescanso }}</div>
                <div *ngIf="asUltimo?.lastFestivo > 0">Dia festivo: {{ asUltimo?.lastFestivo }}</div>
                <div *ngIf="asUltimo?.lastVacaciones > 0">Dias vacaciones pendientes: {{ asUltimo?.lastVacaciones }}</div>
                <div *ngIf="asUltimo?.lastDisfrutadas > 0">Dias vacaciones disfrutadas: {{ asUltimo?.lastDisfrutadas }}</div>
                <div *ngIf="asUltimo?.lastBaja > 0">Dias de baja: {{ asUltimo?.lastBaja }}</div>                
                <div *ngIf="asUltimo?.lastJustificado > 0">Dia justificado: {{ asUltimo?.lastJustificado }}</div>                                                                      
                <div *ngIf="asUltimo?.lastInjustificado > 0">Dia no justificado: {{ asUltimo?.lastInjustificado }}</div>      
                <div *ngIf="(asUltimo?.lastFecha_inicio != '') && (asUltimo?.lastFecha_inicio != null)">Desde {{ asUltimo?.lastFecha_inicio | date:'dd/MM/yyyy' }}<br>Hasta {{ asUltimo?.lastFecha_fin | date:'dd/MM/yyyy' }}</div> 
            </div>               
            </td>
            <td>
              <a class="btn btn-secondary btn-sm" [routerLink]="['/dash/asistencia/entrada', fecha, item._id]">Editar</a>
              <button type="button" class="btn btn-primary btn-sm" (click)="insertaRapido(item._id, item.nombre, 1)">TRA</button>
              <button type="button" class="btn btn-success btn-sm" (click)="insertaRapido(item._id, item.nombre, 2)">DES</button>
              <button type="button" class="btn btn-warning btn-sm" (click)="insertaRapido(item._id, item.nombre, 3)">FES</button>    
              <div *ngIf="yaExiste(item._id)" class="alert alert-primary" role="alert">
                  <div *ngIf="asDeldia?.trabajado > 0">Dia trabajado: {{ asDeldia?.trabajado }}</div>
                  <div *ngIf="asDeldia?.descanso > 0">Dia descanso: {{ asDeldia?.descanso }}</div>
                  <div *ngIf="asDeldia?.festivo > 0">Dia festivo: {{ asDeldia?.festivo }}</div>
                  <div *ngIf="asDeldia?.vacaciones > 0">Dias vacaciones pendientes: {{ asDeldia?.vacaciones }}</div>
                  <div *ngIf="asDeldia?.disfrutadas > 0">Dias vacaciones disfrutadas: {{ asDeldia?.disfrutadas }}</div>
                  <div *ngIf="asDeldia?.baja > 0">Dias de baja: {{ asDeldia?.baja }}</div>                  
                  <div *ngIf="asDeldia?.justificado > 0">Dia justificado: {{ asDeldia?.justificado }}</div>                                                                      
                  <div *ngIf="asDeldia?.injustificado > 0">Dia no justificado: {{ asDeldia?.injustificado }}</div>      
                  <div *ngIf="(asDeldia?.fecha_inicio != '') && (asDeldia?.fecha_inicio != null)">Desde {{ asDeldia?.fecha_inicio | date:'dd/MM/yyyy' }}<br>Hasta {{ asDeldia?.fecha_fin | date:'dd/MM/yyyy' }}</div> 
              </div>          
            </td>        
          </tr>
        </tbody>
      </table>
    </div>
    <h5>Operarios registrados</h5>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Operario</th>
            <th scope="col">Situacion</th>
            <th scope="col">Editar</th>        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of asistenciaService.asistencias; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.nombre }}</td>
            <td>            
              <div *ngIf="item.trabajado > 0">Dia trabajado: {{ item.trabajado }}</div>
              <div *ngIf="item.descanso > 0">Dia descanso: {{ item.descanso }}</div>
              <div *ngIf="item.festivo > 0">Dia festivo: {{ item.festivo }}</div>
              <div *ngIf="item.vacaciones > 0">Dias vacaciones pendientes: {{ item.vacaciones }}</div>
              <div *ngIf="item.disfrutadas > 0">Dias vacaciones disfrutadas: {{ item.disfrutadas }}</div>
              <div *ngIf="item.justificado > 0">Dia justificado: {{ item.justificado }}</div>                                                                      
              <div *ngIf="item.injustificado > 0">Dia no justificado: {{ item.injustificado }}</div>      
              <div *ngIf="(item.fecha_inicio != '') && (item.fecha_inicio != null)">Desde {{ item.fecha_inicio | date:'dd/MM/yyyy' }}<br>Hasta {{ item.fecha_fin | date:'dd/MM/yyyy' }}</div>                              
            </td>
            <td> <a [routerLink]="['/dash/asistencia/entrada', fecha, item.id_op]">Editar</a></td>        
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="col">
<router-outlet></router-outlet>
</div>
</div>

