<div>
  <div>
    <a [routerLink]="['/dash/operarios']">Operarios</a>
  </div>
  <div>
    <div>
      <a [routerLink]="['/dash/limpieza']">Partes</a>
      <a [routerLink]="['/dash/informeslimpieza']">Informes</a>
      <a [routerLink]="['/dash/analisis']">Analisis</a>
  </div>  
  <div>
    <div>
      <a [routerLink]="['/dash/mantenimiento']">Mantenimiento</a>
      <a [routerLink]="['/dash/taller']">Taller</a>
      <a [routerLink]="['/dash/hamacas']">Hamacas</a>
    </div>
  </div>       
  <div>
    <div>
        <div (click)="logOut()">Salir</div>
    </div>
  </div>
</div>
