<div class="ui small menu">
  <a class="item"  [routerLink]="['/dash/operarios']" >
    Operarios
  </a>
  <a class="item" [routerLink]="['/dash/limpieza']">
    Limpieza
  </a>
  <a class="item" [routerLink]="['/dash/informeslimpieza']">
    Informes
  </a>
  <a class="item" [routerLink]="['/dash/analisis']">
    Analisis
  </a>
  <a class="item" [routerLink]="['/dash/mantenimiento']">
    Mantenimiento
  </a>      
  <a class="item" [routerLink]="['/dash/taller']">
    Taller
  </a> 
  <a class="item" [routerLink]="['/dash/hamacas']">
    Hamacas
  </a>     
  <div class="right menu">
    <div class="ui dropdown item" suiDropdown>
      Opciones <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <a class="item">A</a>
        <a class="item">B</a>
        <a class="item">C</a>
      </div>
    </div>
    <div class="item">
        <div class="ui red button" (click)="logOut()">Salir</div>
    </div>
  </div>
</div>
