<p>
  Detalle del parte
</p>

<form novalidate [formGroup]="parteForm" (ngSubmit)="onSubmit(parteForm)" class="ui form">
  <div class="field">
    <label for="municipio">Municipio</label>
    <select
      placeholder="Introduce municipio"
      name="municipio"
      formControlName="municipio"
      class="ui search dropdown"
      suiDropdown>
      <option value="Benidorm" selected="selected">Benidorm</option>
      <option value="Finestrat">Finestrat</option>    
    </select>
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="parteForm.controls['municipio'].hasError('required') && parteForm.controls['municipio'].touched">
      <div class="header">
          Atención
      </div>
      <p>Campo municipio necesario...</p>
    </sui-message> 
  </div>   
  <div class="field">
    <label for="fecha">Fecha</label>
    <input
      type="date"
      placeholder="Introduce fecha"
      name="fecha"
      formControlName="fecha">
      <sui-message class="attached warning" [isDismissable]="false" *ngIf="parteForm.controls['fecha'].hasError('required') && parteForm.controls['fecha'].touched">
        <div class="header">
            Atención
        </div>
        <p>Campo fecha necesario...</p>
      </sui-message>       
  </div>
  <div class="field">
    <label for="lugar">Playa</label>
    <select
      placeholder="Introduce playa"
      name="lugar"
      formControlName="lugar"
      class="ui search dropdown">
      <option value="Levante y Calas">Levante y Calas</option>
      <option value="Poniente y Mal Pas">Poniente y Mal Pas</option>
      <option value="Finestrat">Finestrat</option>      
    </select>
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="parteForm.controls['lugar'].hasError('required') && parteForm.controls['lugar'].touched">
      <div class="header">
          Atención
      </div>
      <p>Campo playa necesario...</p>
    </sui-message>     
  </div> 
  <div class="field">
    <label for="turno">Turno</label>
    <select
      placeholder="Introduce turno"
      name="turno"
      formControlName="turno"
      class="ui search dropdown">
      <option value="Mañana">Mañana</option>
      <option value="Tarde">Tarde</option>
      <option value="Noche">Noche</option>
    </select>
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="parteForm.controls['turno'].hasError('required') && parteForm.controls['turno'].touched">
      <div class="header">
          Atención
      </div>
      <p>Campo turno necesario...</p>
    </sui-message>     
  </div>  
  <div class="field">
    <label for="tipo">Tipo de limpieza</label>
    <select
      placeholder="Introduce tipo"
      name="tipo"
      formControlName="tipo"
      class="ui search dropdown">
      <option value="Manual">Manual</option>
      <option value="Tractor">Tractor</option>
    </select>
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="parteForm.controls['tipo'].hasError('required') && parteForm.controls['tipo'].touched">
      <div class="header">
          Atención
      </div>
      <p>Campo tipo necesario...</p>
    </sui-message>         
  </div>   
  <div class="field">
    <label for="operario">Conductor</label>
    <select
      placeholder="Introduce conductor"
      name="operario"
      formControlName="operario"
      class="ui search dropdown">   
      <option *ngFor="let unOperario of listaOperarios; let i=index" [value]="unOperario.nombre">{{ unOperario.nombre }}</option>
    </select>    
  </div>   
  <div class="field">
    <label for="vehiculo">Vehiculo</label>
    <select
      placeholder="Introduce vehiculo"
      name="vehiculo"
      formControlName="vehiculo"
      class="ui search dropdown">
      <option *ngFor="let unVehiculo of listaVehiculos; let i=index" [value]="unVehiculo.matricula">{{ unVehiculo.matricula }} - {{ unVehiculo.nombre }}</option>    
    </select>
  </div>   
  <div class="field">
    <label for="numero_ops">Numero de operarios</label>
    <input
      type="number"
      placeholder="Numero de operarios"
      name="numero_ops"
      formControlName="numero_ops">
      <button type="button" (click)="setOperariosTemporada(1)" class="ui green button">TEMPORADA BAJA</button>
      <button type="button" (click)="setOperariosTemporada(2)" class="ui green button">TEMPORADA ALTA</button>
  </div>  
  <div class="field">
    <label for="observacion_ayto">Ayuntamiento</label>
    <textarea
      name="observacion_ayto"
      rows="10"
      cols="50"
      formControlName="observacion_ayto">
    </textarea>
  </div> 
  <div class="field">
    <label for="observacion_ra">RA</label>
    <textarea
      name="observacion_ra"
      rows="10"
      cols="50"
      formControlName="observacion_ra">
    </textarea>
  </div>     
  <div formArrayName="estadisticas" class="field">
    <label>Incidencias para control estadistico</label>
    <div>
      <select
       #estadisticaSeleccionada
       class="ui search dropdown">
        <option *ngFor="let unaEstadistica of listaEstadisticas; let i=index">{{ unaEstadistica.nombre }}</option>
      </select>
    </div>
    <button type="button" (click)="onMasEstadsitica(estadisticaSeleccionada.value)" class="ui blue button">Añade
      iniccidencia
    </button>
    <div *ngFor="let estadisticaControl of estadisticas.controls; let i=index">
      <div [formGroupName]="i">
          <input      
            type="text"
            name="estadistica"
            formControlName="estadistica"
            readonly>
        <div>
          <button type="button" (click)="onQuitaEstadistica(i)" class="ui red button">Quitar</button>
        </div>
      </div>
    </div>
  </div>  
  <div formGroupName="pesos" class="field">
    <p>
      PESOS
    </p>
    <div>
      <label for="rsu_manual">
        RSU
      </label>
      <input    
        type="number"
        placeholder="Introduce peso RSU"
        name="rsu_manual"
        formControlName="rsu_manual">
    </div>
    <div>
      <label for="rsu_criba">
        RSU Cribadora
      </label>
      <input     
        type="number"
        placeholder="Introduce peso RSU cribadora"
        name="rsu_criba"
        formControlName="rsu_criba">
    </div>
    <div>
      <label for="selectivo">
        Selectivo
      </label>
      <input     
        type="number"
        placeholder="Introduce peso SELECTIVO"
        name="selectivo"
        formControlName="selectivo">
    </div>
    <div>
      <label for="algas_pesadas">
        Algas pesadas
      </label>
      <input     
        type="number"
        placeholder="Introduce peso ALGAS PESADAS"
        name="algas_pesadas"
        formControlName="algas_pesadas">
    </div>
    <div>
      <label for="algas_teoricas">
        Algas teoricas
      </label>
      <input     
        type="number"
        placeholder="Introduce peso ALGAS TEORICAS"
        name="algas_teoricas"
        formControlName="algas_teoricas">
      </div>
  </div>
  <div formGroupName="horarios" class="field">
    <p>
      HORARIOS
    </p>
    <div>
      <label for="salida_almacen">
        Salida de almacen
      </label>
      <input     
        type="time"
        placeholder="Introduce hora SALIDA ALMACEN"
        name="salida_almacen"
        formControlName="salida_almacen">
    </div>
    <div>
      <label for="salida_playa">
        Salida de la playa
      </label>
      <input
        type="time"
        placeholder="Introduce hora SALIDA PLAYA"
        name="salida_playa"
        formControlName="salida_playa">
    </div>
    <div>
      <label for="llegada_almacen">
        Llegada al almacen
      </label>
      <input     
        type="time"
        placeholder="Introduce hora LLEGADA ALMACEN"
        name="llegada_almacen"
        formControlName="llegada_almacen">
    </div>
  </div>
  <div class="field">
    <label for="bolsas">
      Bolsas de basura utilizadas
    </label>
    <input
      type="number"
      placeholder="Introduce bolsas de basura utilizadas"
      name="bolsas"
      formControlName="bolsas"> 
  </div>
  <div>
    <button class="ui blue button" type="submit" [disabled]="!parteForm.valid">GUARDAR</button>
    <button class="ui yellow button" type="button" (click)="onCancelar()">CANCELAR</button>
    <button class="ui red button" type="button" (click)="onBorrar(parteForm)" [disabled]="!enEdicion">BORRAR</button>
  </div>    
</form>