<p>
  Detalle del parte
</p>

<form novalidate [formGroup]="parteForm" (ngSubmit)="onSubmit(parteForm)">
  <fieldset>
    <legend>Datos obligatorios</legend>
  <div class="vertical">
    <label for="fecha">Fecha</label>
    <input
      type="date"
      placeholder="Introduce fecha"
      name="fecha"
      formControlName="fecha">
      <div *ngIf="parteForm.controls['fecha'].hasError('required') && parteForm.controls['fecha'].touched" class="card warning">
        <div class="section">
          <p>Campo fecha necesario</p>
        </div>
      </div>            
  </div>  
  <div class="vertical">
    <label>Acceso rápido</label>
    <button type="button" (click)="setAccesoRapido(1)">ML</button>
    <button type="button" (click)="setAccesoRapido(2)">MP</button>
    <button type="button" (click)="setAccesoRapido(3)">TL</button>
    <button type="button" (click)="setAccesoRapido(4)">TP</button>
    <button type="button" (click)="setAccesoRapido(5)">NL</button>
    <button type="button" (click)="setAccesoRapido(6)">NP</button>
  </div>
  <div class="vertical">
    <label for="municipio">Municipio</label>
    <select
      placeholder="Introduce municipio"
      name="municipio"
      formControlName="municipio"
      suiDropdown>
      <option value="Benidorm" selected="selected">Benidorm</option>
      <option value="Finestrat">Finestrat</option>    
    </select>
    <div *ngIf="parteForm.controls['municipio'].hasError('required') && parteForm.controls['municipio'].touched" class="card warning">
      <div class="section">
        <p>Campo municipio necesario</p>
      </div>
    </div>    
  </div>   
  <div class="vertical">
    <label for="lugar">Playa</label>
    <select
      placeholder="Introduce playa"
      name="lugar"
      formControlName="lugar">
      <option value="Levante y Calas">Levante y Calas</option>
      <option value="Poniente y Mal Pas">Poniente y Mal Pas</option>
      <option value="Finestrat">Finestrat</option>      
    </select>
    <div *ngIf="parteForm.controls['lugar'].hasError('required') && parteForm.controls['lugar'].touched" class="card warning">
      <div class="section">
        <p>Campo playa necesario</p>
      </div>
    </div>       
  </div> 
  <div class="vertical">
    <label for="turno">Turno</label>
    <select
      placeholder="Introduce turno"
      name="turno"
      formControlName="turno">
      <option value="Mañana">Mañana</option>
      <option value="Tarde">Tarde</option>
      <option value="Noche">Noche</option>
    </select> 
    <div *ngIf="parteForm.controls['turno'].hasError('required') && parteForm.controls['turno'].touched" class="card warning">
      <div class="section">
        <p>Campo turno necesario</p>
      </div>
    </div>        
  </div>  
  <div class="vertical">
    <label for="tipo">Tipo de limpieza</label>
    <select
      placeholder="Introduce tipo"
      name="tipo"
      formControlName="tipo">
      <option value="Manual">Manual</option>
      <option value="Tractor">Tractor</option>
    </select>
    <div *ngIf="parteForm.controls['tipo'].hasError('required') && parteForm.controls['tipo'].touched" class="card warning">
      <div class="section">
        <p>Campo tipo necesario</p>
      </div>
    </div>             
  </div>  
  </fieldset> 
  <fieldset>
      <legend>Otros datos</legend>  
  <div class="vertical">
    <label for="operario">Conductor</label>
    <select
      placeholder="Introduce conductor"
      name="operario"
      formControlName="operario">   
      <option *ngFor="let unOperario of listaOperarios; let i=index" [value]="unOperario.nombre">{{ unOperario.nombre }}</option>
    </select>    
  </div>   
  <div class="vertical">
    <label for="vehiculo">Vehiculo</label>
    <select
      placeholder="Introduce vehiculo"
      name="vehiculo"
      formControlName="vehiculo">
      <option *ngFor="let unVehiculo of listaVehiculos; let i=index" [value]="unVehiculo.matricula">{{ unVehiculo.matricula }} - {{ unVehiculo.nombre }}</option>    
    </select>
  </div>   
  <div class="vertical">
    <label for="numero_ops">Numero de operarios</label>
    <input
      type="number"
      placeholder="Numero de operarios"
      name="numero_ops"
      formControlName="numero_ops">
      <button type="button" (click)="setOperariosTemporada(1)">TEMPORADA BAJA</button>
      <button type="button" (click)="setOperariosTemporada(2)">TEMPORADA ALTA</button>
  </div>  
  </fieldset>
  <fieldset>
    <legend>Observaciones</legend>
  <div class="vertical">
    <div>
      <label for="observacion_ayto">Ayuntamiento</label>
    </div>
    <textarea
      name="observacion_ayto"
      rows="10"
      cols="50"
      formControlName="observacion_ayto">
    </textarea>
  </div> 
  <div class="vertical">
    <div>
      <label for="observacion_ra">RA</label>
    </div>
    <textarea
      name="observacion_ra"
      rows="10"
      cols="50"
      formControlName="observacion_ra">
    </textarea>
  </div>    
  </fieldset>  
  <fieldset>
      <legend>Analisis, estadisiticas, pesos,..</legend>  
  <div formArrayName="estadisticas" class="vertical">
    <div>
      <label>Incidencias para control estadistico</label>
    </div>
      <select
       #estadisticaSeleccionada>
        <option *ngFor="let unaEstadistica of listaEstadisticas; let i=index">{{ unaEstadistica.nombre }}</option>
      </select>
    <button type="button" (click)="onMasEstadsitica(estadisticaSeleccionada.value)" class="tertiary">Añade
      iniccidencia
    </button>
    <div *ngFor="let estadisticaControl of estadisticas.controls; let i=index">
      <div [formGroupName]="i">
          <input      
            type="text"
            name="estadistica"
            formControlName="estadistica"
            readonly>
          <button type="button" (click)="onQuitaEstadistica(i)" class="secondary">Quitar</button>
      </div>
    </div>
  </div>  
  <div formGroupName="pesos" class="vertical">
    <p>
      PESOS
    </p>
    <div>
      <label for="rsu_manual">
        RSU
      </label>
      <input    
        type="number"
        placeholder="Introduce peso RSU"
        name="rsu_manual"
        formControlName="rsu_manual">
    </div>
    <div>
      <label for="rsu_criba">
        RSU Cribadora
      </label>
      <input     
        type="number"
        placeholder="Introduce peso RSU cribadora"
        name="rsu_criba"
        formControlName="rsu_criba">
    </div>
    <div>
      <label for="selectivo">
        Selectivo
      </label>
      <input     
        type="number"
        placeholder="Introduce peso SELECTIVO"
        name="selectivo"
        formControlName="selectivo">
    </div>
    <div>
      <label for="algas_pesadas">
        Algas pesadas
      </label>
      <input     
        type="number"
        placeholder="Introduce peso ALGAS PESADAS"
        name="algas_pesadas"
        formControlName="algas_pesadas">
    </div>
    <div>
      <label for="algas_teoricas">
        Algas teoricas
      </label>
      <input     
        type="number"
        placeholder="Introduce peso ALGAS TEORICAS"
        name="algas_teoricas"
        formControlName="algas_teoricas">
      </div>
  </div>
  <div formGroupName="horarios" class="vertical">
    <p>
      HORARIOS
    </p>
    <div>
      <label for="salida_almacen">
        Salida de almacen
      </label>
      <input     
        type="time"
        placeholder="Introduce hora SALIDA ALMACEN"
        name="salida_almacen"
        formControlName="salida_almacen">
    </div>
    <div>
      <label for="salida_playa">
        Salida de la playa
      </label>
      <input
        type="time"
        placeholder="Introduce hora SALIDA PLAYA"
        name="salida_playa"
        formControlName="salida_playa">
    </div>
    <div>
      <label for="llegada_almacen">
        Llegada al almacen
      </label>
      <input     
        type="time"
        placeholder="Introduce hora LLEGADA ALMACEN"
        name="llegada_almacen"
        formControlName="llegada_almacen">
    </div>
  </div>
  <div class="vertical">
    <label for="bolsas">
      Bolsas de basura utilizadas
    </label>
    <input
      type="number"
      placeholder="Bolsas de basura utilizadas"
      name="bolsas"
      formControlName="bolsas"> 
  </div>
  </fieldset>
  <div>
    <button type="submit" [disabled]="!parteForm.valid">GUARDAR</button>
    <button type="button" (click)="onCancelar()">CANCELAR</button>
    <button type="button" (click)="onBorrar(parteForm)" [disabled]="!enEdicion">BORRAR</button>
  </div>    
</form>