<form [formGroup]="form" class="w-50 container mt-3 card p-3">

  <input type="text" class="form-control my-2" formControlName="titulo" placeholder="Título">

  @if (arreglo.length > 0) {
    <div formArrayName="arreglo">
      @for (item of arreglo.controls; track item.value.id; let i = $index) {
        <div class="row mb-2 col-12" [formGroupName]="i">

          <div class="col">
            <input type="text" class="form-control" formControlName="id" placeholder="ID">
          </div>

          <div class="col">
            <input type="text" class="form-control" formControlName="matricula" placeholder="Matrícula">
          </div>

          <div class="col">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
          </div>

          <div class="col-auto">
            <button type="button" class="btn btn-danger" (click)="borrarGrupo(i)">Borrar</button>
          </div>

        </div>
      }
    </div>
  }

  <button type="button" class="btn btn-primary mt-3" (click)="agregarVehiculo()">
    Agregar nuevo vehículo
  </button>

</form>
