pre {
    overflow: auto;
    border-left: none;
    text-align: left;
    white-space: pre-line;  
    background: transparent;   
    padding: 0px;
    margin: 0px;    
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    }

.texto_p {
    font-size: 80%;
}