<div>
  <div>
    Limpieza tipo {{ parte.tipo }}. operarios: {{ parte.numero_ops }}
  </div>
    <div>
      <pre *ngIf="parte.observacion_ayto.length > 0" >{{ parte.observacion_ayto }}</pre>
      <div *ngIf="parte.tipo == 'Manual'">
        RSU: {{ parte.pesos.rsu_manual }} KGs. SELECTIVO: {{ parte.pesos.selectivo }} KGs.
      </div> 
      <div *ngIf="parte.tipo == 'Tractor'">
        RSU: {{ parte.pesos.rsu_criba }} KGs. ALGAS: {{ parte.pesos.algas_pesadas }} KGs.
      </div>          
    </div>            
</div>
