<h4>PARTES DIARIO LIMPIEZA DE PLAYAS. DIA {{ fecha | date: 'dd/MM/yyyy' }}</h4>
<h4>MUNICIPIO DE {{ municipio | uppercase }}</h4>

<div *ngFor="let playa of datos; let i=index">
  <h4>
    PLAYA {{ playa._id | uppercase}}
  </h4>
  <div *ngFor="let turno of playa.datos; let i=index">
    <div>
      <div class="turno">
      TURNO {{ turno.turno | uppercase}}
      </div>
    </div>
    <div *ngIf="turno.turno == noche">
      2 CRIBADORAS
    </div>
    <div *ngIf="turno.top > 0" > 
      {{ turno.top }} OPERARIOS
    </div>    
    <br>
    <div>
      <strong>INCIDENCIAS / TRABAJOS</strong>
    </div>
    <div *ngFor="let detalle of turno.observacion; let i=index">
      <div *ngIf="detalle.observacion_ayto.length > 0">
        <div>
          <pre>
            {{ detalle.observacion_ayto | uppercase}}
          </pre>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5>
    TOTAL PESOS PLAYA {{ playa._id | uppercase}}
    </h5>
  </div>
  <div class="total">
    RSU: <strong>{{ playa?.trmp }} KGs. </strong> - CRIBADORAS: <strong>{{ playa?.trcp }} KGs. </strong> - SELECTIVO: <strong>{{ playa?.tsp }} KGs. </strong> -
    ALGAS: <strong>{{ playa?.tapp }} KGs. </strong> - ALGAS TEORRICAS: <strong>{{ playa?.tatp }} KGs.</strong>
  </div>  
  <br>
</div>
<br>
<div>
  <div>
    <h5>
    TOTAL PESOS DEL DIA {{ fecha | date: 'dd/MM/yyyy' }}
    </h5>
  </div>
  <div class="totaldia">
    RSU: <strong>{{ totalBas?.total_rsu_manual }} KGs. </strong> - CRIBADORAS: <strong>{{ totalBas?.total_rsu_criba }} KGs. </strong> - SELECTIVO: <strong>{{ totalBas?.total_selectivo }} KGs. </strong> -
    ALGAS: <strong>{{ totalBas?.total_algas_pesadas }} KGs. </strong> - ALGAS TEORICAS: <strong>{{ totalBas?.total_algas_teoricas }} KGs.</strong>
  </div>
</div>
<br>
<p>
RA. BENIDORM. SL
</p>