<div>
  <div class="ui massive message">
    ACCESO A LA APLICACION GESTION LIMPIEZA DE PLAYAS. RA BENIDORM. 2017
  </div>
</div>

<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)" class="ui form">
  <div class="inline field">
    <label>
      Clave
    </label>
    <input
      type="password"
      placeholder="Introduce clave"
      name="password"
      formControlName="password">   
    <sui-message class="attached warning" [isDismissable]="false" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
        <div class="header">
            Atención
        </div>
        <p>Campo clave necesario..</p>
    </sui-message>    
    <div *ngIf="errorPass" class="ui negative message">Clave incorrecta.</div>
  </div>
  <button class="ui button" type="submit">Aceptar</button>
</form>
<br>

<sui-message class="success">
  <div class="header">
      Nota informativa!
  </div>
  <p>Nueva version 1.1.x en desarrollo v. 2017-09-10</p>
</sui-message>