<div>
  <a href="" (click)="oculta($event)">{{ textoOculta }}</a>
</div>  
<div *ngIf="visible">
    <br>
    <div>
      <div>
        <p>
          Informe diario por dia y municipio
        </p>
        <div>
          <label>Fecha</label>
          <input type="date" name="fecha" placeholder="dia resumen" [(ngModel)]="fecha">         
        </div>
        <div>
          <label>Municipio</label>
          <sui-select name="municipio" [(ngModel)]="municipio" class="selection">
            <sui-select-option value="Benidorm">Benidorm</sui-select-option>
            <sui-select-option value="Finestrat">Finestrat</sui-select-option>    
          </sui-select>
        </div>        
        <button class="ui blue button" type="button" (click)="abreRes(fecha, municipio)">Abrir Informe Diario</button>
        <p>.......</p>
        <p>
            Informe mensual por dia, turno y playa
        </p>
        <div>
          <label>Playa</label>
          <sui-select name="lugar" [(ngModel)]="lugar" class="selection">
            <sui-select-option value="Levante y Calas">Levante y Calas</sui-select-option>
            <sui-select-option value="Poniente y Mal Pas">Poniente y Mal Pas</sui-select-option>
            <sui-select-option value="Finestrat">Finestrat</sui-select-option>     
          </sui-select>
        </div>  
        <div>
          <label>Turno</label>
          <sui-select name="turno" [(ngModel)]="turno" class="selection">
            <sui-select-option value="Mañana">Mañana</sui-select-option>
            <sui-select-option value="Tarde">Tarde</sui-select-option>
            <sui-select-option value="Noche">Noche</sui-select-option>    
          </sui-select>
        </div>                
        <button class="ui blue button" type="button" (click)="abreMes(fecha, turno, lugar, municipio.value)">Abrir Informe Mensual</button>
      </div>      
    </div>
  </div>
  <br>
  <br>
  <router-outlet></router-outlet>
