<div>
  <a href="" (click)="oculta($event)">{{ textoOculta }}</a>
</div>  
<div *ngIf="visible">
    <br>
    <div>
      <div>
        <p class="bg-primary">
          Informe diario por dia y municipio
        </p>
        <div>
          <label>Fecha</label>
          <input type="date" name="fecha" placeholder="dia resumen" [(ngModel)]="fecha">         
        </div>
        <div>
          <label>Municipio</label>
          <select name="municipio" #municipio>
            <option>Benidorm</option>
            <option>Finestrat</option>    
          </select>
        </div>        
        <button class="btn btn-primary" type="button" (click)="abreRes(fecha, municipio.value)">Abrir Informe Diario</button>
        <p>.......</p>
        <p class="bg-info">
            Informe mensual por dia, turno y playa
        </p>
        <div>
          <label>Playa</label>
          <select name="lugar" #lugar>
            <option value="Levante y Calas">Levante y Calas</option>
            <option value="Poniente y Mal Pas">Poniente y Mal Pas</option>
            <option value="Finestrat">Finestrat</option>     
          </select>
        </div>  
        <div>
          <label>Turno</label>
          <select name="turno" #turno>
            <option>Mañana</option>
            <option>Tarde</option>
            <option>Noche</option>    
          </select>
        </div>                
        <button class="btn btn-info" type="button" (click)="abreMes(fecha, turno.value, lugar.value, municipio.value)">Abrir Informe Mensual</button>
      </div>      
    </div>
  </div>
  <br>
  <br>
  <router-outlet></router-outlet>
