
<div class="overflow-auto" style="max-height: 600px;">
    <table class="table table-condensed table-striped table-bordered">
        <thead class="position-sticky top-0 bg-white">
            <tr>
                <th>Operario</th>
                @for (d of [].constructor(31); track $index){
                <th>{{$index + 1}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (item of cuadrante(); track $index) {
            <tr>
                <td class="text-nowrap">{{item.operario}}</td>
                @for (dia of item.dias; track $index) {
                <td [style.background-color]="dia.color">{{dia.estado}}</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>    
