<p>
  Selecciona fecha para ver los partes
</p>
<button (click)="nuevoParte()">
  Nuevo Parte Diario
</button>
<div>
  <label>Selecciona fecha</label>
  <input [(ngModel)]="fecha" type="date" (change)="actualizaLista()">
</div>
<br>
<div class="row cols-sm">
  <table>
    <thead>
      <tr>
        <th>Playa</th>
        <th>Operario</th>
        <th>Turno</th>
        <th>Editar</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parte of listaPartes">
        <td data-label="Playa">{{ parte.lugar }}</td>
        <td data-label="Operario">{{ parte.operario }}</td>
        <td data-label="Turno">{{ parte.turno }}</td>
        <td data-label="Editar"><a [routerLink]="['/dash/limpieza/detalle', parte._id]" class="button small tertiary">
          Editar
        </a></td>        
      </tr>
    </tbody>
  </table>
</div>