<h4>PARTES MENSUAL LIMPIEZA DE {{ lugar | uppercase }}. {{ municipio | uppercase }}. MES {{ month }} AÑO {{ year }}</h4>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">DIA</th>
        <th scope="col">INCIDENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resumen; let i=index">
        <th scope="row">{{ item._id | date: 'dd/MM/yyyy' }}</th>
        <td>
          <div *ngFor="let observa of item.observaciones; let i=index">
              {{ observa.observacion_ayto | uppercase }} 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>RA. BENIDORM. SL</div>
