<form novalidate [formGroup]="operariosForm" (ngSubmit)="onSubmit(operariosForm)" class="ui form">
  <div class="field">
    <label>
      Nombre
    </label>
    <input
      type="text"
      placeholder="Introduce nombre"
      name="nombre"
      formControlName="nombre">
      <sui-message class="attached warning" [isDismissable]="false" *ngIf="operariosForm.controls['nombre'].hasError('required') && operariosForm.controls['nombre'].touched">
        <div class="header">
            Atención
        </div>
        <p>Campo nombre necesario...</p>
      </sui-message>       
  </div>
  <div class="field">
    <label>
      Direccion
    </label>
    <input
      type="text"
      placeholder="Introduce direccion"
      name="direccion"
      formControlName="direccion">
  </div>
  <div class="field">
    <label>
      Telefono
    </label>
    <input
      type="text"
      placeholder="Introduce telefono"
      name="telefono"
      formControlName="telefono">
  </div>
  <div class="field">
    <label>
      Puesto
    </label>
    <input
      type="text"
      placeholder="Introduce puesto"
      name="puesto"
      formControlName="puesto">
  </div>
  <div>
    <button type="submit" [disabled]="!operariosForm.valid" class="ui blue button">Aceptar</button>
    <button type="button" (click)="onCancelar()" class="ui yellow button">Cancelar</button>
    <button type="button" (click)="onBorrar(operariosForm)" class="ui red button">BORRAR</button>
  </div>
</form>