<form novalidate [formGroup]="operariosForm" (ngSubmit)="onSubmit(operariosForm)">
  <div class="form-group">
    <label for="nombre">
      Nombre
    </label>
    <input
      type="text"
      placeholder="Introduce nombre"
      name="nombre"
      id="nombre"
      formControlName="nombre"
      class="form-control">  
      <div *ngIf="operariosForm.controls['nombre'].hasError('required') && operariosForm.controls['nombre'].touched" class="alert alert-warning" role="warning">
        Campo nombre necesario
      </div>           
  </div>
  <div class="form-group">
    <label for="direccion">
      Direccion
    </label>
    <input
      type="text"
      placeholder="Introduce direccion"
      name="direccion"
      id="direccion"
      class="form-control"        
      formControlName="direccion">
  </div>
  <div class="form-group">
    <label for="telefono">
      Telefono
    </label>
    <input
      type="text"
      placeholder="Introduce telefono"
      name="telefono"
      id="telefono"
      formControlName="telefono"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="puesto">
      Puesto
    </label>
    <input
      type="text"
      placeholder="Introduce puesto"
      name="puesto"
      formControlName="puesto"
      id="puesto"
      class="form-control">
  </div>
  <div>
    <button type="submit" [disabled]="!operariosForm.valid" class="btn btn-success">Aceptar</button>
    <button type="button" (click)="onCancelar()" class="btn btn-warning">Cancelar</button>
    <button type="button" (click)="onBorrar(operariosForm)" class="btn btn-danger">BORRAR</button>
  </div>
</form>