<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>        
        <th scope="col">Detalle</th>    
        <th scope="col">Observacion</th>              
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of asistencia; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.fecha }}</td>        
        <td>
          <div *ngIf="item.trabajado > 0">Dia trabajado: {{ item.trabajado }}</div>
          <div *ngIf="item.descanso > 0">Dia descanso: {{ item.descanso }}</div>
          <div *ngIf="item.festivo > 0">Dia festivo: {{ item.festivo }}</div>
          <div *ngIf="item.vacaciones > 0">Dias vacaciones pendientes: {{ item.vacaciones }}</div>
          <div *ngIf="item.disfrutadas > 0">Dias vacaciones disfrutadas: {{ item.disfrutadas }}</div>
          <div *ngIf="item.justificado > 0">Dia justificado: {{ item.justificado }}</div>                                                                      
          <div *ngIf="item.injustificado > 0">Dia no justificado: {{ item.injustificado }}</div>              
        </td>  
        <td><pre>{{ item.observacion }}</pre></td>                 
      </tr>
    </tbody>
  </table>
</div>
